body{
  background-color: peachpuff;
  margin: 10px;
  font-family: "DejaVu Sans";
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;

}
a:hover {
  color: #024dbc;
}
.button1{
    position: absolute;
    margin-top: 20%;
    margin-left: 30%;
  float: left;
    }
.button2{
    position: relative;
  float: left;
  margin-top: 20%;
    margin-left: 60%;
    }
.n{
  font-size: 24px;
  margin: 5px;
  padding: 10px;
  float: right;
  color: white;
  background-color: rgba(255,182,28,0.98);
  text-decoration: none;
}
.navbar{
margin-right: 5%;
  text-decoration: none;
  float: right;
}
.top{
  padding: 20px;
}
#slideshow {
  animation-name: background;
  -moz-animation-name: background;
  animation-duration: 15s;
  -moz-animation-duration: 15s;
  animation-direction: alternate;
  -moz-animation-direction: alternate;
  animation-timing-function: linear;
  -moz-animation-timing-function: ease;
  animation-iteration-count: infinite;
  -moz-animation-iteration-count: infinite;
}

@keyframes background {
  0% {
    background-image: url(img/2020utsav-min.jpg);
    background-size: cover;
  }
  33% {
    background-image: url(img/2020cricketcs-min.jpg);
    background-size: cover;
  }
  66% {
    background-image: url(img/2020kabaddigirls-min.jpg);
    background-size: cover;
  }
  100%{
    background-image: url(img/2020powerlifting-min.png);
    background-size: cover;
  }
}
.navbar-collapse{
  width: 100%;
  float: right;
}
