body{
  background-color: peachpuff;
  margin: 10px;
  font-family: "DejaVu Sans";
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;

}
a:hover {
  color: #024dbc;
}
.button1{
    position: absolute;
    top:62%;
    left: 50%;
    transform: translate(-50%,-50%);
    }
.button2{
    position: absolute;
    top:72%;
    left: 50%;
    transform: translate(-50%,-50%);
    }
    .btn{
      border: 1px solid #fff;
      padding: 10px 30px;
      font-size: 28px;
      width: 60px;
      color: white;
      background-color: blue;
      text-decoration: none;
      transition: 0.6s ease;
    }
    .btn:hover{
    background-color: blue;
    color: #000;
    }
.n{
  font-size: 24px;
  margin: 5px;
  padding: 10px;
  float: right;
  color: white;
  background-color: rgba(255,182,28,0.98);
  text-decoration: none;
}
.navbar{
margin-right: 5%;
}
.top{
  text-align: center;
}
#slideshow {
  animation-name: background;
  animation-duration: 15s;
  animation-direction: alternate;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
}

@keyframes background {
  0% {
    background-image: url(img/audi11.jpg);
    background-size: cover;
  }
  33% {
    background-image: url(img/basketball11.jpg);
    background-size: cover;
  }
  66% {
    background-image: url(img/kabaddig.jpg);
    background-size: cover;
  }
  100%{
    background-image: url(img/21-annual-function-2.jpg);
    background-size: cover;
  }
}
